<div class="expandable-widget" [ngClass]="expand ? 'expandable-widget--show' : ''">
    <!-- Widget Content -->
    <div class="expandable-widget__content" [@openClose]="expand ? true : false">
        <div class="expandable-widget__row">
            <div class="expandable-widget__left">
                <h3>Taxi Connect</h3>
            </div>
            <div class="expandable-widget__right">
                <h3>AED 8.50</h3>
            </div>
        </div>
        <div class="expandable-widget__row" *ngFor="let item of items">
            <div class="expandable-widget__left">
                <p>{{item.name}}</p>
            </div>
            <div class="expandable-widget__right">
                <p>{{item.value}}</p>
            </div>
        </div>
    </div>

    <!-- Expand Button -->
    <button class="expandable-widget__btn" (click)="toggleCard()" [ngClass]="expand ? 'expandable-widget__btn--expand' : ''" @showHideButton>
        {{expand ? 'Hide' : 'Show'}}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
            <path d="M89.45 87.5l143.1 152c4.375 4.625 6.562 10.56 6.562 16.5c0 5.937-2.188 11.87-6.562 16.5l-143.1 152C80.33 434.1 65.14 434.5 55.52 425.4c-9.688-9.125-10.03-24.38-.9375-33.94l128.4-135.5l-128.4-135.5C45.49 110.9 45.83 95.75 55.52 86.56C65.14 77.47 80.33 77.87 89.45 87.5z"/>
        </svg>
    </button>
</div>
